<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <p>Hola! Yo me llamo Robot!</p>
        <p>
            Yo soy un robot de analisis de texto.<br>
            Puedes darme una oracion y yo la voy a analizar.<br>
            Puedo contar el numero de palabras, puedo contar el numero de caracteres, 
            puedo hacer analisis del sentimiento de la oracion y varias cosas mas.
        </p>
        <form>
            <textarea placeholder="Escribe algo..." rows="4" style="width: 500px; height: 100px;"></textarea>
            <br>
            <input type="submit" value="Analizar">
        </form>
    </body>
</html>
